<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEXT KEY WORD FINDER</title>
</head>
<body>
    <button onclick="location.href='{% url 'homeScript' %}'">Home</button> <hr>
    <form action="/text-search-result/" method="post">
        TEXT searcher <br>
        {% csrf_token %}
        Input Text:
        <input type="text" name="param" required> <br><br>
        {{ data_external }} <br><br>
        {{ data }}
        <br>
        <input type="submit" name="txtSubmit" value="Execute Search">
    </form>
</body>
</html>